<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">

  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <div class="top-bar">
    <li class="menu-text">Plane Stats</li>
  </div>

   <main>
     {% block main %}{% endblock %}
   </main>
 
   {% block script %}{% endblock %}
 </body>
</html>