<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fleets</title>
</head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
<body>
    <h1>Airline fleets around the world</h1>

    {% for table in tables %}
        {{ table|safe }}
    {% endfor %}

   <!-- <table id="test-table" class="table display" cellspacing="0" width="100%">
    <thead>
        <tr>
            {% for column in columns %}
                <th scope="col">{{column}}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for v in data %}
            <tr>
                <td>{{v.col1}}</td>
                <td>{{v.col2}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table> -->

    <!-- {% if objects %}
        <table id='result' class='display'>
        <thead>
            <tr>
            {% for header in headers %}
                <th>{{header}}</th>
            {% endfor %}
            </tr>
        </thead>
        
        <tbody>
        {% for object in objects %} 
            <tr>
            {% for item in object %}
                <td>{{item}}</td>
            {% endfor %}
            </tr>
        {% endfor %}        
        </tbody>
        </table>
    {% endif %} -->
</body>
</html>